:root {
	--width: 1920px;
	--height: 1080px;

	--cell-size: 100px;
	--grid-size: 7;

	/** Layer orders **/
	--z-overlay-above: 50;
	--z-player: 7;
	--z-borders: 6;
	--z-posts: 5;
	--z-player-walking: 4;
	--z-flags: 3;
	--z-overlay-below: 2;
	--z-paths: 1;
	--z-background: 0;
}

maze {
	position: absolute;
	display: block;
	width: calc(var(--cell-size) * var(--grid-size));
	height: calc(var(--cell-size) * var(--grid-size));
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

maze cell {
	display: block;
	position: absolute;
	width: var(--cell-size);
	height: var(--cell-size);
	border: 0;
	border-radius: 0;
}

maze posts {
	display: block;
	width: calc(var(--cell-size) * (var(--grid-size) + 1));
	height: calc(var(--cell-size) * (var(--grid-size) + 1));
	padding-left: calc(var(--cell-size) / 2);
	padding-top: calc(var(--cell-size) / 2);
	background-image: var(--post-image);
	background-repeat: repeat;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: var(--z-posts);
}

maze.blur {
	filter: blur(3px);
}

overlay {
	position: absolute;
	display: block;
	width: var(--width);
	height: var(--height);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-size: cover;
	pointer-events: none;
}

overlay.below {
	z-index: var(--z-overlay-below);
	background-image: var(--overlay-below-image);
	background-repeat: no-repeat;
}

overlay.above {
	z-index: var(--z-overlay-above);	
	background-image: var(--overlay-above-image);
	background-repeat: no-repeat;
}

