found {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	font-size: 40px;
	color: #494137;
	background: var(--found-background-image);
	background-size: 600px;
	background-position: center center;
	background-repeat: no-repeat;
	width: 600px;
	height: 190px;
	animation: fadeinout 2s;
	text-transform: uppercase;
	opacity: 0;
	padding: 50px 50px;
	text-align: center;
	box-sizing: border-box;
}

found name {
    color: var(--player-color);
/*    text-shadow: 2px 2px 0 var(--contrast-color),
    			 2px -2px 0 var(--contrast-color),
    			 -2px 2px 0 var(--contrast-color),
    			 -2px -2px 0 var(--contrast-color),
    			 0 -2px 0 var(--contrast-color),
    			 0 2px 0 var(--contrast-color); */
}

@keyframes fadeinout {
	0% {
		transform: translate(-50%, -50%) scale(0.5);
		opacity: 0;
	}
	10% {
		transform: translate(-50%, -50%) scale(1.1);
	}
	12% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	90% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(0.5);
		opacity: 0;
	}
}